body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
}



h1 {
    margin: 10px 0;
    color: #333;
}

main {
    padding: 20px;
}

.offers, .discounts, .coupons {
    margin-bottom: 30px;
}

.offers h2, .discounts h2, .coupons h2 {
    color: #0056b3;
}

.offer-category {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.offer-category h3 {
    margin: 0 0 10px;
    color: #333;
}

.offer-category p {
    margin: 0;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
}



@media (max-width: 768px) {
    .offer-category {
        padding: 10px;
    }

    th, td {
        padding: 5px;
    }
}
