<!DOCTYPE html>
<html style="background-color: #1a1625;">

<body style="background-color: #1a1625;">
    <h1 style="color: #ba9ffb; font-size: 50px;">Error 400-ish Something... ;(</h1>
    <p style="color: white; font-size: 20px;">You have requested something that the API server doesn't know how to
        handle. To resolve this issue, please refer to the <a href="apidocumentation"
            style="color: #ba9ffb;">documentation.</a></p>
    <br>
    <p style="color: white; font-size: 15px;">Some possible errors:-</p>
    <ul style="color: white; font-size: 15px;">
        <li>404 - Resource not found in the server</li>
        <li>403 - Access denied</li>
        <li>405 - Method not allowed</li>
        <li>410 - Gone (This response is sent when the requested content has been permanently deleted from server, with
            no forwarding address)</li>
    </ul>
</body>

</html>