@import "tailwindcss";
/* .stroke-black {
  -webkit-text-stroke: 3px black;
  text-stroke: 3px black;
}

.stroke-white {
  -webkit-text-stroke: 3px white;
  text-stroke: 3px white;
}

.mix-blend-difference {
  mix-blend-mode: difference;
} */
