<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DARKIntelX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <canvas id="background-canvas"></canvas>
        <h1 class="title">DARKIntelX</h1>
    </div>

    <div class="form-container">
        <form method="POST" action="{{ url_for('home') }}" class="form neon-border">
            <input type="text" name="keyword" placeholder="Enter keyword for onion search" class="input neon-border" required>
            <button type="submit" class="button neon-button">Search</button>
        </form>

        <form method="POST" action="{{ url_for('home') }}" class="form neon-border">
            <input type="text" name="url" placeholder="Enter URL for screenshot" class="input neon-border">
            <button type="submit" class="button neon-button">Capture Screenshot</button>
        </form>
    </div>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if results %}
        <h2>Onion Sites Found:</h2>
        <ul>
            {% for result in results %}
                <li><a href="{{ result }}" target="_blank" class="neon-link">{{ result }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if screenshot %}
        <h2>Screenshot:</h2>
        <img src="{{ url_for('display_screenshot', filename=screenshot.split('/')[-1]) }}" alt="Screenshot" class="screenshot">
    {% endif %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
